.room {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid green;
  &--name {
    padding-top: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  &--description {
    padding-top: 1rem;
    font-weight: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
}
